body
  font 14px Helvetica
  background-color #dedede
  margin 20px

h1
  text-align center

li
  font-weight bold
  padding 2px

a
  &:link
    color blue
  &:visited
    color green
  &:hover
    color green
